

<header class="flex justify-between items-center p-2 bg-white h-16">
  <div class="flex items-center ml-4">
    <div class="flex">
      <a href="https://upao.edu.pe/" target="_blank" rel="noopener noreferrer" class="mr-2">
        <img src="./assets/logocanvas.jpg" alt="Imagen 1" class="h-12">
      </a>
      <hr class="border-r border-gray-400 h-12 mx-2">
      <hr>
      <a href="https://campusvirtual.upao.edu.pe/login" target="_blank" rel="noopener noreferrer" class="ml-2">
        <img src="./assets/logoCampus.png" alt="Imagen 2" class="h-12">
      </a>
    </div>
  </div>


  <div class="flex flex-col ml-auto items-end">

    <!-- Iconos y opciones -->
    <div class="flex flex-col ml-auto items-end">
      <!-- Barra de búsqueda -->
      <div class="flex items-center mr-2 mb-1">
        <div class="flex items-center">
          <input class="h-5 w-50 border border-gray-600 rounded-sm px-2 mr-1" placeholder="Buscar...">
          <img src="./assets/lupa.jpg" class="h-4 cursor-pointer">
        </div>
      </div>

      <!-- Iconos y opciones -->
      <div class="flex items-center mt-1">
        <div class="flex flex-col">
          <div class="flex ">
            <a href="http://universidadvirtual.upao.edu.pe/moodle/" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon1.jpg" alt="Icono 1" class="h-5 mr-1">
            </a>
            <a href="https://www.facebook.com/UPAO.PAGINAOFICIAL" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon2.jpg" alt="Icono 2" class="h-5 mr-1">
            </a>
            <a href="https://twitter.com/upao" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon3.jpg" alt="Icono 3" class="h-5 mr-1">
            </a>
            <a href="https://www.youtube.com/user/UPAOoficial" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon4.jpg" alt="Icono 4" class="h-5 mr-1">
            </a>
            <a routerLink="catalogoBiblio" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon5.png" alt="Icono 5" class="h-5 mr-1">
            </a>
            <a routerLink="catalogoLector" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon6.png" alt="Icono 6" class="h-5 mr-1">
            </a>
            <a href="https://campusvirtual.upao.edu.pe/v2/index.aspx#m=INDO&f=INDOCOM" target="_blank" rel="noopener noreferrer">
              <img src="./assets/icon7.jpg" alt="Icono 7" class="h-5">
            </a>

            <!-- Mi Escritorio con la flecha al lado derecho -->
            <div class="flex items-center mb-0 text-xs mr-4 ml-12 mt-1">
              <a href="#" class="text-blue-700 hover:text-red-500">Mi Escritorio</a>
              <img src="./assets/flecha.gif" class="ml-1" alt="flecha">
            </div>
            <div class="flex items-center mb-0 text-xs mr-2 mt-1">
              <a href="#" class="text-blue-700 hover:text-red-500">Desconectar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</header>
