<header>
  <div class="header">
    <div class="left-section">
      <a href="https://upao.edu.pe/" target="_blank" rel="noopener noreferrer">
        <img src="./assets/logocanvas.jpg" alt="Imagen 1" class="header-image">
      </a>

      <hr class="divider">
      <a href="https://campusvirtual.upao.edu.pe/login" target="_blank" rel="noopener noreferrer">
        <img src="./assets/logoCampus.png" alt="Imagen 2" class="header-image">
      </a>
    </div>
    <div class="right-section">
      <div class="search-bar">
        <input class="text" placeholder="Buscar...">
        <img src="./assets/lupa.jpg" class="search-icon">
      </div>
      <div class="bottom-row">
        <div class="icons">
          <a href="http://universidadvirtual.upao.edu.pe/moodle/" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon1.jpg" class="icon" alt="Icono 1">
          </a>
          <a href="https://www.facebook.com/UPAO.PAGINAOFICIAL" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon2.jpg" class="icon" alt="Icono 2">
          </a>
          <a href="https://twitter.com/upao" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon3.jpg" class="icon" alt="Icono 3">
          </a>
          <a href="https://www.youtube.com/user/UPAOoficial" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon4.jpg" class="icon" alt="Icono 4">
          </a>
          <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon5.png" class="icon" alt="Icono 5">
          </a>
          <a href="https://campusvirtual.upao.edu.pe/sl.aspx?f=YFAMHOR" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon6.png" class="icon" alt="Icono 6">
          </a>
          <a href="https://campusvirtual.upao.edu.pe/v2/index.aspx#m=INDO&f=INDOCOM" target="_blank" rel="noopener noreferrer">
            <img src="./assets/icon7.jpg" class="icon" alt="Icono 7">
          </a>
        </div>
          <div class="Opcion1">
            <a class="link">Mi Escritorio</a> <img src="./assets/flecha.gif" class=fleha alt="flch">
          </div>
          <div class="Opcion2">
            <a class="link">Desconectar</a>
          </div>


      </div>

      <!-- Panel desplegable -->
      <div class="dropdown-panel">
        <div class="icons">
          <!-- Aquí van los 6 iconos del panel -->
          <img src="ruta/iconoPanel1.png" alt="Icono Panel 1" class="icon">
          <img src="ruta/iconoPanel1.png" alt="Icono Panel 2" class="icon">
          <img src="ruta/iconoPanel1.png" alt="Icono Panel 3" class="icon">
          <img src="ruta/iconoPanel1.png" alt="Icono Panel 4" class="icon">
          <!-- Repite esto para los otros iconos del panel -->
        </div>
        <hr class="divider">
        <div class="links">
          <a href="#">Aula Virtual</a>
        </div>
      </div>
    </div>
  </div>
</header>

