
  <div class="flex h-screen items-center">
    <div class="flex-1 p-4 items-center" style="background-color: #eeebeb; width: 100%; height: 100%;">
      <h1 class="text-2xl font-bold text-left mb-4">
        <span class="text-blue" style="color: #0f448d">INGRESAR </span><span class="text-orange" style="color: #e47717">ROL</span>
      </h1>
      <hr class="border-2 mb-4" style="border-color: #e47717">

      <div class="card" style="width: 100%; height: 80%;  background-color: #ece9e9">

        <div class="flex justify-center">
          <button routerLink="catalogoLector" type="button" class="text-white w-32 h-20 mr-10 rounded-md" style="background-color: #d97000; margin-top: 300px">LECTOR</button>
          <button routerLink="catalogoBiblio" type="button" class="text-white w-32 h-20 ml-10 rounded-md"  style="background-color: #0049ac; margin-top: 300px">BIBLIOTECARIO</button>
        </div>
      </div>

      <hr class="border-2 mt-4" style="border-color: #0055a1">
    </div>
  </div>



