<div class="flex h-screen">
  <div class="flex-1 p-4 items-center" style="background-color: #eeebeb;">
    <h1 class="text-2xl font-bold text-left mb-4">
      <span class="text-blue" style="color: #0f448d">REGISTRAR </span><span class="text-orange" style="color: #e47717">LIBROS</span>
    </h1>
    <hr class="border-2 mb-4" style="border-color: #e47717">
    <div class="card" style="width: 60%; margin-left: 350px; background-color: #ece9e9">

      <form #libroForm="ngForm" (ngSubmit)="agregarLibro()">

      <div class="grid grid-cols-2 gap-4 ">
          <div class="mt-5 mb-5">

            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Título: *
              <input [(ngModel)]="libro.titulo" placeholder="Escribe el titulo del libro" name="titulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></label>

            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código Público: *
              <input [(ngModel)]="libro.codigoPublico" placeholder="Escribe un codigo unico" name="codigoPublico"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"required></label>

            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Autor(es): *
              <input [(ngModel)]="autorNombresInput" name="autorNombres" placeholder="Si tienes mas de un autor separalos por una coma o guion" (change)="onAutorNombresChange()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></label>


            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edición:
              <input [(ngModel)]="libro.edicion" name="edicion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></label>


            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Resumen:
              <textarea [(ngModel)]="libro.resumen" name="resumen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea></label>

            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ISBN:
              <input [(ngModel)]="libro.isbn" name="isbn" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></label>

<!--            <label>Fecha de Publicación: <input type="text" [(ngModel)]="libro.fechaPublicacion" name="fechaPublicacion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></label>-->


            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Publicación:
              <input type="date" [(ngModel)]="libro.fechaPublicacion" name="fechaPublicacion"
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required [max]="getCurrentDate()">
            </label>



            <label for="categoriaflot" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CATEGORIAS</label>
            <select [(ngModel)]="libro.categoria"  name="categoria" id="categoriaflot" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option value="PROGRAMACION">PROGRAMACION</option>
              <option value="Ciencia">Ciencia</option>
              <option value="Matematicas">Matematicas</option>
              <option value="Tecnologia">Tecnologia</option>
              <option value="Comico">Comico</option>
            </select>



            <label>Editorial Nombre: <input [(ngModel)]="libro.editorialNombre" name="editorialNombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></label>

          </div>
          <div>
            <!--    <label>Archivo: <input type="file" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png"></label>-->


            <div>

                <label for="portada" class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-white">Portada: *</label>
                <div class="w-full mb-4 border border-gray-400 rounded-md overflow-hidden" style="height: 600px">
                  <img id="preview" src="#" alt="Preview" class="w-full h-full object-cover" />
                  <input [(ngModel)]="libro.portada" (change)="mostrarPrevisualizacion($event); onFileSelected($event)" type="file" id="portada" name="portada" class="hidden" accept="image/*" />
                </div>




              <label for="subirFoto" class="block mb-2 text-gray-700 cursor-pointer border-gray-400">
                Subir Foto
                <input [(ngModel)]="libro.portada" (change)="mostrarPrevisualizacion($event); onFileSelected($event)" type="file" id="subirFoto" name="subirFoto" class="hidden" accept="image/*" />
              </label>
            </div>

            <div class="flex justify-end mb-10">
              <button routerLink="/catalogoBiblio" type="button" class="bg-blue-500 text-white py-2 px-4 mr-4 rounded-md" style="background-color: #0054a0">Cancelar</button>
              <button type="submit" class="bg-blue-500 text-white py-2 px-4 mr-4 rounded-md" style="background-color: #e07517">aceptar</button>
            </div>
          </div>
        </div>

      </form>


        <!-- Botones al final -->


    </div>

    <hr class="border-2 mt-4" style="border-color: #0055a1">

  </div>

  <!-- Sidebar -->


  <div class="w-1/10 p-4" style="background-color: #dce1eb;">

    <div class="flex items-center py-2 px-4 w-full mt-2 mb-2" style="background-color: #dce1eb;">
      <a routerLink="/registrar/registro" class="flex items-center w-full text-black font-bold hover:text-red-600 justify-end">Registrar libro</a>
      <img src="./assets/agregar.png" alt="Icono" class="h-10 ml-4 mr-1 flex items-center">
    </div>
    <hr class="border-2 mb-4" style="border-color: #ffffff">
    <div class="flex items-center py-2 px-4 w-full  mt-2 mb-2" style="background-color: #dce1eb;">
      <a routerLink="/catalogoBiblio" class="flex items-center w-full text-black font-bold hover:text-red-600 justify-end">Lista de libros</a>
      <img src="./assets/VerSolicitudes.png" alt="Icono" class="h-11 ml-4 mr-2 flex items-center">
    </div>
    <hr class="border-2 mb-4" style="border-color: #ffffff">
    <div class="flex items-center py-2 px-4 w-full  mt-2 mb-2" style="background-color: #dce1eb;">
      <a routerLink="/gestionar/librosSolicitados" class="flex items-center w-full text-black font-bold hover:text-red-600 justify-end">Ver solicitudes</a>
      <img src="./assets/lista.png" alt="Icono" class="h-11 ml-4 flex items-center">
    </div>
    <hr class="border-2 mb-4" style="border-color: #ffffff">

  </div>
</div>


<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none" style="background-color: #ece5e5">
      <!--body-->
      <div class="relative p-6 flex-auto">
        <img src="assets/moduloAgregar.png">
      </div>
      <!--footer-->
      <div class="flex items-center justify-center p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-white active:bg-orange-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
          type="button" (click)="closeModal()" routerLink="/catalogoBiblio" style="background-color: #d97000">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal2" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none" style="background-color: #ece5e5">
      <!--body-->
      <div class="relative p-6 flex-auto">
        <img src="assets/camposvacios.png">
      </div>
      <!--footer-->
      <div class="flex items-center justify-center p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-white active:bg-orange-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
          type="button" (click)="closeModal()" routerLink="/registrar/registro" style="background-color: #d97000">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="opacity-50 fixed inset-0 z-40 bg-black"></div>
<div *ngIf="showModal2" class="opacity-50 fixed inset-0 z-40 bg-black"></div>



<div>
  <h2>Agregar Libro</h2>

</div>
